@{
    ViewData["title"] = "Knowledge Engine";
}

<div ng-app="KEApp">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="TabCtrl">
        <div class="container-fluid">
            <div>
                <ul class="nav nav-pills text-center">
                    <li ng-class="{true:'active',false:''}[nowActBtn==0]" ng-click="navBarClick(0)" style="display: inline-block; float: none"><a href="#" ng-click="">Webpages</a></li>
                    <li ng-class="{true:'active',false:''}[nowActBtn==1]" ng-click="navBarClick(1)" style="display: inline-block; float: none"><a href="#">Papers</a></li>
                    <li ng-class="{true:'active',false:''}[nowActBtn==2]" ng-click="navBarClick(2)" style="display: inline-block; float: none"><a href="#">Images</a></li>
                    <li ng-class="{true:'active',false:''}[nowActBtn==3]" ng-click="navBarClick(3)" style="display: inline-block; float: none"><a href="#">Folders</a></li>
                    <li style="display: inline-block; float: none"><a data-toggle="modal" href="#myModal"><span class="glyphicon glyphicon-plus"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-target=".bs-example-modal-sm" ng-controller="PaperListCtrl">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Adding item...</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." style="width: 500px;" ng-model="addQueryString">
                        </div><!-- /input-group -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addItem()">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div id="bodyContainer">
        <div class="row" ng-controller="PaperListCtrl" ng-init="getItemsList()">
            <div class="col-sm-4">
                <div class="panel panel-default" style="margin-top: 1em; margin-bottom: 1em; border-radius: 0px;">
                    <div class="panel-body" style="padding-top: 1em;">
                        <form role="form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." style="margin: -10px; margin-left: -3px; margin-right: 0px; width: 232px" ng-model="searchString">
                                <button type="button" class="btn btn-default" style="margin-left: .5em; border-width: 0px; font-size: 14px;"><span class="glyphicon glyphicon-flag"></span></button>
                                <button type="button" class="btn btn-default" style="margin-left: .5em; border-width: 0px; font-size: 14px;"><span class="glyphicon glyphicon-sort-by-attributes"></span></button>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                    <div class="list-group" style="overflow-y:auto; height: 430px;">
                        <a href="#" class="list-group-item" ng-repeat="item in (items | filter: searchString)" ng-click="getThePaper(item.doi)">
                            <h4 style="text-overflow:ellipsis; overflow:hidden;" class="list-group-item-heading">{{item.title}}</h4>
                            <p class="list-group-item-text">{{item.authorsList[0].familyName}} et al. - <i>{{item.journalName}}</i>, {{item.year}}</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-8" ng-show="nowActBtn==0">
                <div class="panel panel-default" style="margin-top: 1em; border-radius: 0px; overflow-x: auto; height: 490px;">
                    <div class="panel-body" style="padding-top: 0.75em;">
                        <div class="col-sm-12"></div>
                        <h5 style="color: #acacac;">
                            <span class="glyphicon glyphicon-globe" style="font-size: 12.5px;"></span>&nbsp;&nbsp;
                            WEBPAGE
                            <button type="button" class="btn btn-default pull-right" style="margin-top: -0.5em; margin-left:5px; border-width: 0px; font-size: 14px;"><span class="glyphicon glyphicon-flag"></span></button>
                            <span class="btn-group pull-right" role="group" style="margin-top: -0.5em; margin-right: 0.5em; border-width: 0px; font-size: 14px;">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dropdown link</a></li>
                                    <li><a href="#">Dropdown link</a></li>
                                </ul>
                            </span>
                        </h5>
                        <h3 ng-bind="currWebpage.title"></h3>
                        <h5 style="text-transform: uppercase; color: #acacac;"><span ng-show="currWebpage.author!=null">{{currWebpage.author}}, </span><span ng-show="currWebpage.date_published!=null">{{currWebpage.date_published}} - </span>{{currWebpage.domain}}</h5>
                        <p><a href="{{currWebpage.url}}">{{currWebpage.url}}</a></p>
                        <p>&nbsp;</p>
                        <p>{{currWebpage.excerpt}}</p>
                    </div>
                    <div class="col-sm-12" ng-controller="PaperListCtrl" ng-hide="currWebpage.tags.length==0">
                        <p>&nbsp;</p>
                        <p style="color: #acacac">TAGS</p>
                        <p>
                            <span class="badge" style="background-color: #0094ff; margin-right: 5px;" ng-repeat="kw in currWebpage.tags">{{kw.tagname}}</span>
                        </p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-sm-12 pull-left" style="margin-top: 1em;">
                        <p style="color: #acacac">NOTES</p>
                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>

            <div class="col-sm-8" ng-show="nowActBtn==1">
                <div ng-show="!isEditing">
                    <div class="panel panel-default" style="margin-top: 1em; border-radius: 0px; overflow-x: auto; height: 490px;">
                        <div class="panel-body" style="padding-top: 0.75em;">
                            <div class="col-sm-12"></div>
                            <h5 style="color: #acacac;">
                                <span class="glyphicon glyphicon-file" style="font-size: 12.5px;"></span>&nbsp;&nbsp;
                                PAPER
                                <button type="button" class="btn btn-default pull-right" style="margin-top: -0.5em; margin-left:5px; border-width: 0px; font-size: 14px;"><span class="glyphicon glyphicon-flag"></span></button>
                                <span class="btn-group pull-right" role="group" style="margin-top: -0.5em; margin-right: 0.5em; border-width: 0px; font-size: 14px;">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{'http://dx.doi.org/' + currPaper.doi}}">Go To Paper Page</a></li>
                                        <li><a href="#">Show references</a></li>
                                        <li><a ng-click="postItem(currPaper)">The POST method</a></li>
                                        <li><a ng-click="toggleEditing()">Edit...</a></li>
                                        <li><a href="#">Show relations</a></li>
                                        <li><a ng-click="deleteItem(currPaper.doi)" style="color: #ff0000">Delete Paper</a></li>
                                    </ul>
                                </span>
                            </h5>
                            <h3 ng-bind="currPaper.title"></h3>
                            <p>{{currPaper.journal.name}}, {{currPaper.pubYear}}, Vol. {{currPaper.volume}}, pp. {{currPaper.startPage}}-{{currPaper.endPage}}</p>
                            <p><a href={{author.refAbout}} ng-repeat="author in currPaper.authorsList">{{author.givenName}}&nbsp;{{author.familyName}}, &nbsp;</a></p>
                        </div>
                        <div class="col-sm-8" ng-hide="currAbstract.length==0 && isEditing==false">
                            <p>&nbsp;</p>
                            <p style="color: #acacac;">ABSTRACT</p>
                            <p ng-bind="currAbstract"></p>
                        </div>

                        <div class="col-sm-4" ng-hide="currPaper.Keywords.length==0">
                            <p>&nbsp;</p>
                            <p style="color: #acacac">TAGS</p>
                            <p>
                                <span class="badge" style="background-color: #0094ff; margin-right: 5px;" ng-repeat="kw in currPaper.Keywords">{{kw}}</span>
                            </p>
                            <p>&nbsp;</p>
                        </div>

                        <div class="col-sm-12 pull-left" style="margin-top: 1em;">
                            <p style="color: #acacac">NOTES</p>
                        </div>
                    </div>
                </div>

                <div ng-show="isEditing">
                    <div class="panel-body" style="padding-top: 0.75em;" ng-show="isEditing">
                        <div class="col-sm-12"></div>
                        <h5 style="color: #acacac;">
                            <span class="glyphicon glyphicon-file" style="font-size: 12.5px;"></span>&nbsp;&nbsp;
                            PAPER
                            <button type="button" class="btn btn-default pull-right" style="margin-top: -0.5em; margin-left:5px; border-width: 0px; font-size: 14px;"><span class="glyphicon glyphicon-flag"></span></button>
                            <button type="button" class="btn btn-default pull-right" style="margin-top: -0.5em; margin-left:5px; border-width: 0px; font-size: 14px;" ng-click="toggleEditing()"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                        </h5>
                        <h3 ng-bind="currPaper.title"></h3>
                        <p>{{currPaper.journal.name}}, {{currPaper.pubYear}}, Vol. {{currPaper.volume}}, pp. {{currPaper.startPage}}-{{currPaper.endPage}}</p>
                        <p><a href={{author.refAbout}} ng-repeat="author in currPaper.authorsList">{{author.givenName}}&nbsp;{{author.familyName}}, &nbsp;</a></p>
                    </div>


                    <div class="col-sm-12">
                        <form role="form">
                            <div class="form-group">
                                <p style="color: #acacac;">ABSTRACT</p>
                                <textarea ng-model="currAbstract" class="form-control" rows="3"></textarea>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-12">
                        <form role="form">
                            <div class="form-group">
                                <p style="color: #acacac;">KEYWORDS</p>
                                <textarea ng-model="currKeywords" class="form-control" rows="3"></textarea>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-12" style="margin-top: 1em;">
                        <form role="form">
                            <div class="form-group">
                                <p style="color: #acacac;">NOTES</p>
                                <textarea ng-model="currNotes" class="form-control" rows="3"></textarea>
                            </div>
                        </form>

                    </div>
                    <p>&nbsp;</p>
                </div>
            </div>

        </div>
    </div>

</div>

@section scripts {
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-ui-router.js")
    @Scripts.Render("~/Scripts/app/ke_controller.js")
}